{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    {% if message: %}
        {{ message }}
        <p><a href = "/sell">Ok, refresh page</a></p>
    {% else: %}
        <form action="/sell" method="post">
            <div class="form-group">
                <select autocomplete="off" autofocus class="form-control" name="symbol">
                    <option disabled selected value>Choose a stock</option>
                    {% for have_symbol in have_symbols: %}
                        <option>{{ have_symbol["symbol"] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div calss="form-group">
                <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="#" type="number">
            </div>
            <p></p>
            <button class="btn btn-primary" type="submit">Sell</button>
        </form>
    {% endif %}
{% endblock %}
