{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    {% if message: %}
        {{ message }}
        <p><a href = "/">Ok, refresh page</a></p>
    {% else: %}
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% for share in shares: %}
                <tr>
                    <form action="/" method="POST">
                        <td>
                            {{ share["symbol"] }}
                            <input type="hidden" name="symbol" value="{{ share["symbol"] }}" />
                        </td>
                        <td>{{ share["company_name"] }} </td>
                        <td>{{ share["shares"] }} </td>
                        <td>{{ share["share_price"] }}</td>
                        <td>{{ share["total_price"] }}</td>
                        <td>
                            <input name="shares" class="form-control" type="number" size="1"/>
                            <button name="action" class="btn btn-primary" type="submit" value="sell">Sell</button>
                            <button name="action" class="btn btn-primary" type="submit" value="buy">Buy</button>
                        </td>
                    </form>
                </tr>
            {% endfor %}
            <tr>
                <td colspan=4>CASH</td>
                <td>{{ cash }}</td>
                <td colspan=1></td>
            </tr>
            <tfoot>
                <tr>
                    <td colspan=4></td>
                    <td>{{ total }}</td>
                    <td colspan=1></td>
                </tr>
            </tfoot>
        </table>
    {% endif %}
{% endblock %}
